
.bhromaon-wrap{
    background-image: url(../img/blue-land.png);
    background-size: cover;
    margin: auto;
}
.bhromaon{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo{
        font-size: 48px;
        margin: 270px 0 0 0;
        @media screen and (max-width:480px){
        margin: 50px 0 0 0;
        }
        @media screen and (max-width:768px){
            margin: 100px 0 0 0;
            }
    }
    
    &-desc{
        font-family: $sans-serif;
        letter-spacing: 0.31em;
        color: white;
        font-size: 22px;
    }
    &-search{
        display: flex;
        margin: 50px 0 100px 0;
        border: white 2px solid;
        @media screen and (max-width:690px){
            width: 100%;            
        }
        @media screen and (max-width:480px){
            flex-direction: column;    
            border: none;       
        }

        &__field{
            width: 500px;
            height: 60px;
            border: none;
            text-align: center;
            letter-spacing: 0.1em;
            font-size: 16px;
            padding: 0 10px;
            @media screen and (max-width:480px){
                width: 100%;
            }

            &::placeholder{
                text-align: center;
                color: $color-grey;
                font-size: 14px;
                letter-spacing: 0.2em;
                font-family: $sans-serif;
            }
            &:focus{
                border: 2px $color-blue solid;
            }
        }


        &__button{
            width: 146px;
            height: 60px;
            background-color: $color-blue;
            
            &:hover{
                background-color: darken($color: $color-blue, $amount: 10%);
            }
            &-icon{
                width: 20px;
                height: 20px;
                margin: 0 0 0 15px;
                fill: white;
            }
            @media screen and (max-width:480px){
                width: 100%;
            }
            @media screen and (min-width:1024px){
                cursor: pointer;
            }
        }  
    }
    &-scroll{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 150px;

        &__text{
        color: white;
        font-size: 14px;
        font-family: $sans-serif;
        letter-spacing: 0.2em;
        }

        &__icon{
            width: 13px;
            height: 8px;
            fill: white;
            margin-top: 10px;
        }
        @media screen and (max-width:768px){
            margin: 0 0 50px 0;
            }
        @media screen and (max-width:480px){
                display: none;
            }
    }
}
  
@media screen and (max-width:1024px){
    .mainer{
        width: auto;
        padding: 20px;
    }
}

