.footer{
    background-color: #232323;
    .wrap{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 110px 0 40px 0;
        @media screen and (max-width:768px){
            margin: 40px 0 20px 0;        }
        }
    &__logo{
        font-size: 24px;
        margin-bottom: 11px;
    }
    &__desc{
        font-size: 16px;
        color: white;
        font-family: $sans-serif;
        letter-spacing: 0.1em;
    }
    &__icons{
        display: flex;
        max-width: 270px;
        justify-content: space-between;
    }
}

.fab{
    color: white;
    margin: 30px 12px 0 12px;
    &:hover{
        color: $color-blue;
        cursor: pointer;
    }
}